.slider{
  width: 100%;
}

.slider > div > div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider > button{
  z-index: 1;
  right: 1rem;
}

.slider > button:nth-child(1){
  left: 1rem
}

.slider > button:nth-child(2){
  right: 1rem;
}

@media screen and (min-width: 601px){
  .slider > div > div{
    gap: 1rem;
    left: -1rem;
  }
}