.title{
  margin: 1rem 0;
  font-weight: bold;
  letter-spacing: .05rem;
}

.h1{
  font-size: 2rem;
}

.h2{
  font-size: 1.8rem;
}

.h3{
  font-size: 1.5rem;
}

.h4{
  font-size: 1.2rem;
}

.primary{
  color: var(--color-primary);
}

.secondary{
  color: var(--color-secondary);
}

.white{
  color: var(--color-white);
}

.gray{
  color: var(--color-dark-gray);
}