.link{
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: bold;
  letter-spacing: .1rem;
}

.primary{
  color: var(--color-primary);
}

.primary:hover{
  color: var(--color-primary-hover);
}

.secondary{
  color: var(--color-secondary);
}

.secondary:hover{
  color: var(--color-secondary-hover);
}

.white{
  color: var(--color-white);
}

.white:hover{
  color: var(--color-medium-gray);
}

.gray{
  color: var(--color-dark-gray);
}

.gray:hover{
  color: var(--color-medium-gray);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  color: var(--color-white);
  border-radius: 2rem;
  border: .2rem solid;
  padding: 0.4rem 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.button-primary{
  background-color: var(--color-primary);
  border: 0.2rem solid var(--color-primary);
}

.button-primary:hover{
  background-color: var(--color-primary-hover);
}

.button-outline{
  text-align: center;
  padding: .4rem .8rem;
  border: .2rem solid;
  border-radius: 2rem;
  font-weight: bold;
  letter-spacing: .1rem;
}