.container{
  background-color: var(--color-white);
}

.sub-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar-logo{
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary);
  letter-spacing: .1rem;
}

.button-group{
  display: none;
}

@media screen and (min-width: 960px){
  .button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}