// backgrounds

.bgPrimary{
    background-color: var(--color-primary);
}

.bgLightGray{
    background-color: var(--color-light-gray);
}

.bgWhite{
    background-color: var(--color-white);
}

// colors

.colorPrimary{
    color: var(--color-primary);
}

.colorSecondary{
    color: var(--color-secondary);
}

.colorGray{
    color: var(--color-dark-gray);
}