footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    ul{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }
}

.logo{
    font-weight: bold;
    letter-spacing: .5rem;
}