// inputs

label.Mui-focused{
    color: var(--color-primary) !important;
}

.select, .input > div{
    border-radius: 2rem;
}

.input{
    & > label{
        &.Mui-focused{
             padding-left: .3rem;
        }
    }
    & > div{
        &.Mui-focused{
            fieldset{
                border-color: var(--color-primary) !important;
            }
        }
    }
}

.select{
    &.Mui-focused{
        fieldset{
            border-color: var(--color-primary) !important;
        }
    }
}

.newServiceFormContainer {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}

.newServiceForm {
    padding-right: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    min-width: 25%; 
    max-width: 25%; 
    border: solid black;
    overflow-y: auto;
    max-height: 70%;
}

.preview {
    text-align: justify;
    max-width: 80%;
    word-wrap: break-word;
    padding-bottom: 2rem;
}

img.preview {
    min-width: 70%;
  }

@media screen and (min-width: 768px){
    .authForm{
        display: flex;
        & > div{
            width: 50%;
            &.authImgBox{
                height: 100vh;
                position: relative;
                overflow: hidden;
                width: 60%;
                img{
                    position: absolute;
                    height: inherit;
                    width: auto;
                }
            }
            &.authFormBox{
                height: calc(100vh - 4rem);
                padding: 2rem;
                overflow: scroll;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .authForm{
        & > div{
            &.authFormBox{
                padding: 2rem 4rem;
            }
        }
    }
}