.dFlex{
    display: flex;
}

.dFlexColumn{
    display: flex;
    flex-direction: column;
}

.dFlexCenter{
    align-items: center;
    justify-content: center;
}

.dFlexYCenter{
    align-items: center;
}

.dFlexXCenter{
    justify-content: center;
}

.gap{
    gap: 1rem;
}