// general settings

:root {
    --color-primary: #3AB795;
    --color-primary-hover: #47D5AF;
    --color-secondary: #F4D06F;
    --color-secondary-hover: #F7DC94;
    --color-light-gray: #F6F6F6;
    --color-medium-gray: #C6C6C6;
    --color-dark-gray: #8F8F8F;
    --color-white: #FFFFFF;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
}

body{
    margin: 0;
}

.container{
    padding: 2rem;
}

// components

.generalContainer{
    padding: 0;
    max-width: none;
}

.authContainer{
    padding: 2rem;
    height: 100vh;
    & .authForm{
        padding: 0;
    }
}

.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    align-items: center;
    background-image: url('../public/auth-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 8rem);

    & h1{
        color: var(--color-white);
        font-size: 3rem !important;
        letter-spacing: .2rem !important;
        font-weight: bold !important;
    }

    & p{
        letter-spacing: .1rem;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    & ul{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }
}

// visibility

.hideXs{
    display: none;
}

// backgrounds

.bgPrimary{
    background-color: var(--color-primary);
}

.bgLightGray{
    background-color: var(--color-light-gray);
}

.bgWhite{
    background-color: var(--color-white);
}

// colors

.colorPrimary{
    color: var(--color-primary);
}

.colorSecondary{
    color: var(--color-secondary);
}

.colorGray{
    color: var(--color-dark-gray);
}

// texts

.logo{
    font-weight: bold;
    letter-spacing: .5rem;
}

h4{
    font-size: 1.2rem;
}

// inputs

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
    padding-left: .3rem;
    &.Mui-focused{
        color: var(--color-primary);
        padding-left: .3rem;
    }
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    &.Mui-focused{
        .MuiOutlinedInput-notchedOutline{
            border-color: var(--color-primary);
        }
    }
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 2rem;
}

// buttons

.button{
    width: 100%;
    border-radius: 2rem;
}

.menuButton{
    color: var(--color-primary);
}

.primaryButton{
    background-color: var(--color-primary);
    &:hover{
        background-color: var(--color-primary-hover);
    }
}

.whiteOutlineButton{
    border: .1rem solid var(--color-white);
    color: var(--color-white);
    &:hover{
        border: .1rem solid var(--color-light-gray);
        color: var(--color-light-gray);
    }
}

// links

.primaryLink{
    color: var(--color-primary);
    &:hover{
        color: var(--color-primary-hover);
    }
}

.whiteLink{
    color: var(--color-white);
    &:hover{
        color: var(--color-medium-gray);
    }
}

.grayLink{
    color: var(--color-dark-gray);
    &:hover{
        color: var(--color-medium-gray);
    }
}

.outlineLink{
    padding: .4rem .8rem;
    border: .2rem solid;
    border-radius: 2rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

// images

.navbarImage{
    width: 10rem;
    height: auto;
}

@media (min-width: 768px) {
    .hideXs{
        display: flex;
    }
    .hideSm{
        display: none;
    }
    .menuButtonGroup{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-left: 2rem;
    }
    main{
        height: calc(100vh - 9rem);
        & > div{
            width: 60vw;
        }
    }
    .authContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        .authForm{
            display: flex;
            border-radius: 1rem;
            overflow: hidden;
            box-shadow: 1rem 1rem 2rem var(--color-light-gray);
            & > div{
                padding: 2rem;
                &.authImgBox{
                    background-image: url('../public/auth-background.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 40%;
                }
                &.authFormBox{
                    width: 60%;
                    & h4{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px){
    .authContainer{
        & .authForm{
            width: 70%;
        }
    }
}