.clientsHero{
    display: flex;
    align-items: center;
    background-image: url('../public/auth-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 8rem);

    h1{
        color: var(--color-white);
        font-size: 3rem !important;
        letter-spacing: .2rem !important;
        font-weight: bold !important;
    }

    p{
        letter-spacing: .1rem;
    }
}

@media screen and (min-width: 768px) {
    .clientsHero{
        height: calc(100vh - 9rem);
        & > div{
            width: 60vw;
        }
    }
}