.container{
    padding: 2rem;
}

.generalContainer{
    padding: 0;
    max-width: none;
}

.authContainer{
    padding: 2rem;
    height: 100vh;
    max-width: none;
    .authForm{
        padding: 0;
        max-width: none;
    }
}

@media screen and (min-width: 768px){
    .authContainer{
        padding: 0;
    }   
}