.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.navbarImage{
    width: 10rem;
    height: auto;
}

.appBar{
    .MuiPaper-root{
        top: 4rem !important;
        left: 0 !important;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        max-height: calc(100vh - 4rem);
        box-shadow: 1rem 1rem 2rem var(--color-light-gray), 1rem 1rem 2rem var(--color-light-gray);
        box-shadow: 0 .5rem .5rem -.3rem var(--color-light-gray), 0 .5rem 1rem .1rem var(--color-light-gray);
        border-radius: 0;
        ul{
            padding: 0;
            position: relative;
            height: 100%;
            li{
                padding: 2rem 1rem;
                width: 100%;
                &:first-child{
                    border-top: .1rem solid var(--color-primary);
                }
                a{
                    width: 100%;
                }
                &.buttonsBox{
                    border-top: .1rem solid var(--color-primary);
                    position: absolute;
                    bottom: 0;
                    gap: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    .appBar{
        .MuiPaper-root{
            top: 4.6rem !important;
            max-width: 300px;
            max-height: 350px;
            left: unset !important;
            right: 0;
        }
    }
}

@media screen and (min-width: 992px){
    .menuButtonGroup{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}